<header>
  <nav class="grid-100">
    <ul class="grid-container grid-75 prefix-25">
      <li {% if page.url == "/index.html" %}class="active"{% endif %}><a href="/">Home</a></li>
      <li {% if page.url == "/services/" %}class="active"{% endif %}><a href="/services">Services</a></li>
      <!-- <li {% if page.url == "/blog/index.html" %}class="active"{% endif %}><a href="/blog">Blog</a></li> -->
      <!-- <li {% if page.url == "/contact/index.html" %}class="active"{% endif %}><a href="/contact">Contact</a></li> -->
    </ul>
  </nav>
</header>
<div class="grid-container grid-250">
  <div class="grid-10">
    <div class="logo"></div>
  </div>
  <div class="grid-90 title-holder">
    <h3 class="title">Miss B</h3>
    <h1 class="tagline">Wardrobe specialist</h1>
    <h2 class="tagline-2">-- helping clients find their unique style from head to toe --</h2>

  </div>
</div>